span, small, h1, h2, h3, h4, h5,p{
    font-family: "Montserrat";
}


input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #F2F9F0 !important;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F9F0F0 !important;
    border: 1px solid #f09784;
}

.parsley-errors-list {
    list-style-type: none;
    opacity: 0;
    transition: all .3s ease-in;

    color: #d16e6c;
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 0;
}

.parsley-errors-list.filled {
    opacity: 1;
}

.nounderline:hover{
    text-decoration: none;
}

.color_prin{
    color: #46178f;
}

.dropdown-item_sub_config:hover{
    color: black !important;
    text-decoration: none !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: black !important;
    text-decoration: none !important;
    background-color: transparent !important;
}


.swal-overlay.swal-overlay--show-modal{
    z-index: 999999;
}

.swal-footer {
  text-align: center;
}
.swal-modal{
    font-family: Montserrat;
}

.swal-content__input{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.swal-title{
    font-weight: 700;
}
.swal-overlay .swal-icon--custom{
    width: 100px !important;

}

.link-tool__content.link-tool__content--rendered:hover{
    color: black !important;
}

.custom-control-input {
    z-index: 10 !important;
}

.cursor-pointer{
  cursor: pointer;
}